.calculator{
  width: 300px;
  margin: 40px auto ;
  padding: 20px;
  background: #222;
  color: white;
  border-radius: 10px;
}
input{
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8px;
}
button{
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
.equal{
  grid-column: span 2;
  background: green;
  color: white;
}
.clear{
  grid-column: span 2;
  background: red;
  color: white;
}
.history{
  margin-top: 15px;
  font-size: 14px;
}